* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}
.main{
   
    margin: 10px;
    padding: 5px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    display: flex;
    gap: 250px;

}

.box{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.box img{
    width: 100%;
    max-width: 30px;
    height: auto;

} 

.info{
   
   align-items: center;
   gap: 6px;
}

.info a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.info svg{
    width: 14px;
    height: 14px;
    vertical-align: middle;
}


.right{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
}

.right a{
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

nav.right svg {
  width: 18px;
  height: 18px;
}

.food-section {
  margin-top: 40px;
  
}

.food-section h2 {
  font-size: 24px;
  font-weight: 700;
    margin: 20px 200px;
  padding: 25px;
}

.food-list {
  display: flex;
  margin: 20px 200px;
  padding: 25px;
  gap: 35px;

  
  
}

.food-card {
  min-width: 120px;
  text-align: center;
}

.food-card img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

.food-card p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.restaurant-section {
   margin: 20px 200px;
  padding: 25px;
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-header h2 {
  font-size: 24px;
  font-weight: 700;
}

.leftrightarrows{
  display: flex;
  gap: 10px;
}

.arrow {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}


.restaurant-list {
  display: flex;
  gap: 28px;
  margin-top: 24px;
  padding-bottom: 10px;
  scrollbar-width: none;
}




.restaurant-card {
  width: 260px;
  flex-shrink: 0;
}

.restaurant-img {
  position: relative;
}

.restaurant-img img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 16px;
}

.badge {
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
}

.restaurant-card h3 {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}

.meta {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
}

.cuisine,
.area {
  font-size: 14px;
  color: #686b78;

}
